DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=gold_yahoo_finance

YAHOO_SYMBOLS=GC=F,XAUUSD=X,GLD

FETCH_INTERVAL=86400
FETCH_PERIOD=5d
FETCH_INTERVAL_TYPE=1d

AIRFLOW_UID=1000
